.not-found-container {
	background-image: url('../../assets/images/no-found.jpg');
	background-size: cover;
	background-position: bottom;
	width: 100%;
	min-height: 540px;
	padding: 30px 50px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 1024px) {
		width: 100%;
	}
	@media (max-width: 576px) {
		padding: 20px 30px;
	}
	&__message {
		color: #fff;
		font-size: 40px;
		text-align: center;
		@media (max-width: 576px) {
			font-size: 35px;
		}
	}
	&__add {
		font-size: 30px;
		font-weight: lighter;
		text-align: center;
		@media (max-width: 576px) {
			font-size: 26px;
		}
		p {
			margin-bottom: 10px;
		}
	}
}