.close-form {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  &:hover {
    transform: scale(1.2);
  }
}
.form-container {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	width: 500px;
	padding: 20px;
	z-index: 10;
	position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  @media (max-width: 576px) {
  	width: 90%;		
  }
  &__button-disabled {
  	color: #999;
  	cursor: default;
  	@media (max-width: 360px) {
  		width: 130px;
  	}
  	&:hover {
  		background-color: transparent;
  		color: #999;
  	}
  }
  &__button {
    @media (max-width: 360px) {
      width: 130px;
    } 
  }
}